@font-face {
    font-family: 'Iosevka Aile Iaso';
    font-weight: 100 900;
    font-style: normal;
    src: local('Iosevka Aile Iaso')
       , url('/woff2/iosevka-aile-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Iosevka Aile Iaso';
    font-weight: 100 900;
    font-style: italic;
    src: local('Iosevka Aile Iaso')
       , url('/woff2/iosevka-aile-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Curly Iaso';
    font-weight: 100 900;
    src: local('Iosevka Curly Iaso')
       , url('/woff2/iosevka-curly-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Etoile Iaso';
    font-weight: 100 900;
    font-style: normal;
    src: local('Iosevka Etoile Iaso')
       , url('/woff2/iosevka-etoile-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Iosevka Etoile Iaso';
    font-weight: 100 900;
    font-style: italic;
    src: local('Iosevka Etoile Iaso')
       , url('/woff2/iosevka-etoile-italic.woff2') format('woff2');
}

body {
    display: flex;
    margin: 15px;
    overflow-y: scroll;
    justify-content: center;
    font-family: 'Iosevka Aile Iaso', sans-serif;
}

p > code {
    background-color: whitesmoke;
    padding: 3px;
}

a {
    text-decoration: none;
    color: #428BCA;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.0rem;
}

.container {
    max-width: 750px;
    width: 100%;
}

.subtlelink {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-size: 2rem;
}

.header__tagline {
    color: lightgrey;
    font-size: 0.8rem;
}

.header__links {
    padding: 5px 0 5px 0;
}

.header__links > a {
    padding: 10px;
}

.content__title,
.content-list__entry {
    margin-top: 15px;
}

.content__title {
    display: inline-block;
    margin-bottom: 15px;
}

.content img {
    width: 100%;
    padding: 15px;
}

.title {
    font-size: 1.6rem;
}

.date {
    color: gray;
}