body {
    display: flex;
    margin: 15px;
    overflow-y: scroll;
    justify-content: center;
    font-family: 'Open Sans (WOFF2)', 'Open Sans (WOFF)', 'Open Sans (TTF)', sans-serif;
}

p > code {
    background-color: whitesmoke;
    padding: 3px;
}

a {
    text-decoration: none;
    color: #428BCA;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.0rem;
}

.container {
    max-width: 750px;
    width: 100%;
}

.subtlelink {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    margin-bottom: 15px;
    font-size: 2rem;
}

.header__links > a {
    margin: 10px;
}

.content__title,
.content-list__entry {
    margin-top: 15px;
}

.content__title {
    display: inline-block;
    margin-bottom: 15px;
}

.content img {
    width: 100%;
    margin: 15px;
}

.title {
    font-size: 1.6rem;
}

.date {
    color: gray;
}