@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

html {
    touch-action: manipulation;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #428BCA;
}

p {
    font-size: 1rem;
}

.subtlelink {
    color: black;
}

.back {
    font-size: 1.5rem;
}

.container {
    margin: 15px;
    width: 100%;
    max-width: 750px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.header__title {
    padding-bottom: 15px;
    font-size: 2rem;
}

.header__links a {
    padding: 10px;
}

.content img {
    width: 100%;
}

.content__title {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.content_list__entry {
    padding-bottom: 15px;
}

.title {
    font-size: 1.5rem;
}

.date {
    color: grey;
    justify-content: left;
}

.author {
    color: grey;
    justify-content: right;
}