<!DOCTYPE html>
<html>
    {{ partialCached "head.html" . }}
    <body>
        <div class="container">
            {{ partialCached "header.html" . }}
            <div class="content">
                <div class="content__title">
                    <div class="title">{{ .Title | default "Untitled" }}</div>
                    <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                {{ .Content }}
            </div>
            <div class="back">
                {{/* This isn't in the footer because it shouldn't display on every page. */}}
                <a href="/">Back to Posts</a>
            </div>
            {{ partialCached "footer.html" . }}
        </div>
    </body>
</html>