<!DOCTYPE html>
<html lang="{{ .Site.Params.Lang }}">
    {{ partialCached "head.html" . }}
    <body>
        <div class="container">
            {{ partialCached "header.html" . }}
            <div class="content">
                <div class="content__title">
                    <div class="title">{{ .Title | default "Untitled" }}</div>
                    <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                {{ .Content }}
            </div>
            {{ partialCached "footer.html" . }}
        </div>
    </body>
</html>
