<head>
    <title>{{ .Site.Title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <meta name="description" content={{ .Site.Params.SEO.Description }}>

    <!-- PWA Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content={{ .Site.Title }}>

    <link rel="apple-touch-icon" href={{ .Site.Params.Avatar }}>
    <link rel="apple-touch-startup-image" href={{ .Site.Params.Avatar }}>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chroma.css">
</head>