<div class="header">
	<div class="header__title">
		<a class="subtlelink" href="/">{{ .Site.Title | default "Untitled Site" }} by {{ .Site.Params.author | default "Unknown Author"}}</a>
	</div>
	<div class="header__links">
		{{ if .Site.Params.github }}
			<a href="https://github.com/{{ .Site.Params.github }}" target="noopener noreferrer"><img src={{ "/img/github.svg" }} width="30" height="30" /></a>
		{{ end }}
		{{ if .Site.RSSLink }}
			<a href={{ .Site.RSSLink }} target="noopener noreferrer"><img src={{ "/img/rss.svg" }} width="30" height="30" /></a>
		{{ end }}
	</div>
</div>