<!DOCTYPE html>
<html lang="en-GB">
    {{ partialCached "head.html" . }}
    <body>
        <div class="container">
            {{ partialCached "header.html" . }}
            <div class="content-list">
                {{ range .Pages }}
                <div class="content-list__entry">
                    <a href={{ .RelPermalink }}>
                        <div class="title">{{ .Title | default "Untitled" }}</div>
                    </a>
                    <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                {{ end }}
            </div>
            {{ partialCached "footer.html" . }}
        </div>
    </body>
</html>
